@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: $light;
  background: linear-gradient(135deg, #4eb7a4 0%, #524190 100%);
}

h1,
h2,
h5 {
  font-weight: bold;
  color: rgb(240, 250, 255);
  text-align: center 80px;
}
a {
  color: $dark;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
